p {
    color:rgba(240, 237, 242, 0.948);
    text-align: center;
    background-image:url('../B9A1-New-Year-New-Mission/resources/Banner\ Image.png');
    width: 400px;
    height: 100px;
    padding-top: 30px;
}